
/* Your CSS Code here. */
.main{
	width: 200px;
	background-color: rgb(128, 0, 128);
}
#heading{
	padding:10px;
	color:white;
	font-size: 20px;
	border-left: 5px solid green;
	text-decoration-line: underline;
}